/* All styles for your header Components live here */

.header-contain{
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  .header-flex{
    display: flex;
    margin-top: 20px;
    .header {
      display: flex;
      margin-top: -20px;
      h4 {
        padding-bottom: 20px;
        font-size: 14px;
      }
      p{
        font-size: 12px;
        padding-top: 10px;
        span::after {
          color: x2022;
        }
      }
      .lamabdaTwit{
        color: gray;
        padding-left: 10px;
      }
    }
    .lambdaPic {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  .head-content {
    font-size: 14px;
    
    margin-left: 60px;
    margin-top: -30px;
    width: 500px;
  }
}
