.numbers {
  width: 20px;
  height: 20px;
  font-size: 46px;

}

.clear {
  width: 338px;
  border: 1px solid gray;
  height: 95px;
  margin: 0;
  font-size:50px;
  align-self: center;


}
.numberButton {
  .button {
    width: 112px;
    height: 95px;
    font-size: 45px;
    background-color: white;

  }

  .color-button {
    background-color: red;
  }


}
