.numbers {
  width: 20px;
  height: 20px;
  font-size: 46px;

}

.clear {
  width: 334px;
  border: 1px solid gray;
  height: 90px;
  margin: 0;
  font-size: 45px;
  align-self: center;


}

.button {
  width: 112px;
  height: 100px;
  font-size: 45px;
  background-color: white;
}
